body {
	margin: 2em
}
input[type=radio] {
	margin-left: .75em;
	margin-right: .25em;
}
div.measurement > div.form-group {
	display: inline-block;
}
div.measurement > div.form-group:not(:last-child) {
	margin-right: 6em
}
label {
	display: block;
}
label.rad {
	font-weight: normal;
	display: inline-block;
}
xlabel:nth-of-type(2) > input[type=radio] {
	margin-left: 0
}
div.checkbox > label {
	font-weight: bold;
	display: inline;
}
div.measurement > div.form-group label,
div.measurement > div.form-group input-group-addon,
div.measurement > div.form-group .disabled {
	transition: color .3s;
}
div.measurement > div.form-group .disabled {
	color: #BBB
}
div.measurement > div.form-group > div.input-group {
	width: 12em
}
.form-control {
	transition: background-color .3s;
}
input:disabled {
	background-color: red
}